
*{ 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   list-style-type: none;
   padding: 0;
   scroll-behavior: smooth;
   margin-left: inherit;
   margin-right: inherit;
   text-decoration: none;
   color: inherit;
}

body {
    margin: 0;
}
/* Header */
header {
   display: flex;
   align-items: center;
   height: 55px;
}
header img {
       height: 30px
}
.bloc_image {
    width: 33%;
    text-align: center;
}
.arrow_return {
   font-size: 25px;
   width: 33%;
   padding-left: 10px;
}
.image_back img {
   width: 100%;
}

/* Footer */
footer {
   background-color: #000000cf;
   color: white;
   padding: 20px;
}
   
footer h3 {
   font-family: 'Shrikhand', cursive;
   margin: inherit;
}

footer p {
    margin: 0;
    margin-top: 10px;
}

footer li {
    display: flex;
    align-items: center;
}

.all_the_menu {
   background-color: #f2f2f2;
   border-radius: 50px 50px 0px 0px;
   position: relative;
    z-index: 1;
    margin-top: -15%;
}

.title_and_heart {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.title_and_heart h1 {
   font-family: 'Shrikhand', cursive;
}
/* Heart and anim heart*/
.heart_inside {
   font-size: 25px;
   position: relative;
}
.heart_inside .fa-solid {
    transform: scale(0);
    position: absolute;
    left: 1%;
    bottom: 10%;
    transition: 1s;
    background: -webkit-linear-gradient(top,#FF79DA, #9356DC );
    -webkit-background-clip: text;
    color: transparent;
}
.heart_inside:hover .fa-solid {
    transform: scale(1);
}
.fa-regular {
    transition: 3s;
}
.heart_inside:hover .fa-regular {
    opacity: 0;
}
.insidethemenu {
   display: flex;
   flex-direction: column;
   align-items: center;

}
.all_the_menu h2 {
   margin-left: 2.5%;
   border-bottom: solid #99E2D0;
   font-weight: 300;
   font-size: larger;
   display: block;
   width: 50px;
}
/* Food menu/description/prix */
.food, .food1, .food2, .food3, .food4 {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 95%;
    align-items: flex-end;
    margin-bottom: 5%;
    box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
   overflow:hidden; /* masque l'icon */
   /*justify-content: space-around;*/
   height: 80px;
   animation-duration: 1s;
   animation-name: menu_anim;
   /**/
 }
.foodtitle_more {
   flex:1;
   padding-left: 15px;
   width: 130px;
   margin: auto; /*centrage des textes dans le bloc*/
   /*padding-top: 5px;
   padding-bottom: 5px;*/
   /*height: 80px;*/
   /**/

}


.foodtitle_more h3, .foodtitle_more p {
  /* margin-top: 3%;
   margin-bottom: 1%;*/
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin: 0;
   /**/

}
.price{
    align-self: flex-end;
    width: 40px
    /*-ms-flex-item-align: end;*/
}

/* check */
.check_ok{
    background-color: #99E2D0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px ;
    color: white;
    font-size: 30px;
    transition-duration: 0.5s;
    width: 0;/* Disparition du check */
    /**/
    
}
.icon_check {
    color: white;
    font-size: 30px;
}

/* anim survole check */
.food1:hover .check_ok{

    width: 60px;
}
.food1:hover .icon_check{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.food2:hover .check_ok{
    width: 60px;
}
.food2:hover .icon_check{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.food3:hover .check_ok{
    width: 60px;
}
.food3:hover .icon_check{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.food4:hover .check_ok{
    width: 60px;
}
.food4:hover .icon_check{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.bouton_commander p:hover  {
    background: linear-gradient(#ff8ddf, #a36fe1 );
}
/* anim aparraition menu */
.all_the_menu h2 {
    animation-duration: 1s;
    animation-name: slidein;
    }    
    @keyframes slidein {
 
        from {
          margin-left:100%;
          width:300%
        }
      
        to {
          margin-left:3%;
          width:100%;
        }
      } 

/* anim title insidemenu */
.insidethemenu {
    animation-name: slidetop;
    animation-duration: 2s;
}
    @keyframes slidetop {
        0% {
            -webkit-transform: translateY(0);
                    transform: translateY(80px);
          }
          100% {
            -webkit-transform: translateY(100px);
                    transform: translateY(0px);
    }
}

/* anim opacity*/       
.food1 {
    animation-duration: 1s;
    animation-name: menu_anim;
    }   
    @keyframes menu_anim {
        0%{
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }                
    }

.food2 {
        animation-duration: 1.3s;
        animation-name: menu_anim;
    }    
        @keyframes menu_anim {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }            
    }
.food3 {
    animation-duration: 1.6s;
    animation-name: menu_anim;
        }
        
        @keyframes menu_anim {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0;
            }
            40% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }               
        }
.food4 {
    animation-duration: 2s;
    animation-name: menu_anim;                
    }
        @keyframes menu_anim {
            0% {
                 opacity: 0;
            }
            20%{
                opacity: 0;
            }
            40% {
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
                    
    }

/* bouton "Commander* */
.bouton_commander {
   display: flex;
   justify-content: center;
}
.bouton_commander p {
    width: 120px;
   box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
   color: white;
   background: -webkit-linear-gradient(top,#FF79DA, #9356DC );
   border-radius: 50px;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 45px;
}