
*{ 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   list-style-type: none;
   padding: 0;
   scroll-behavior: smooth;
   margin-left: inherit;
   margin-right: inherit;
   text-decoration: none;
}
   
header {
   display: flex;
   justify-content: space-evenly;
   margin-right: 10%;
   align-items: center;
   height: 55px;
}
   
header img {
       height: 30px
}

.arrow_return {
   font-size: 25px;
}

.image_back img {
   width: 100%;
}

footer {
   background-color: #000000cf;
   color: white;
}
   
footer h3 {
   font-family: 'Shrikhand', cursive;
   margin: inherit;
   margin-left: 5%;
}
   
footer ul {
   margin-left: 2.5%;
}

footer li {
    display: flex;
    align-items: center;
}

.iconefourchette {
    margin-right: 2%;
}

.iconehands {
    margin-right: 2%;
}

.all_the_menu {
   background-color: #f2f2f2;
   border-radius: 50px 50px 0px 0px;
}

.title_and_heart {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.title_and_heart h1 {
   font-family: 'Shrikhand', cursive;
}
.heart_inside {
   font-size: 25px;
}

.insidethemenu {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.all_the_menu h2 {
   margin-left: 2.5%;
   border-bottom: solid #99E2D0;
   font-weight: 300;
   font-size: larger;
   display: block;
   width: 50px;
}

.food {
   display: flex;
   background-color: white;
   border-radius: 25px;
   justify-content: space-around;
   width: 95%;
   align-items: flex-end;
   height: 80px;
   margin-bottom: 5%;
   box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
}

.food1 {
    display: flex;
    background-color: white;
    border-radius: 25px;
    justify-content: space-around;
    width: 95%;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 5%;
    box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
 }

 .food2 {
    display: flex;
    background-color: white;
    border-radius: 25px;
    justify-content: space-around;
    width: 95%;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 5%;
    box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
 }

 .food3 {
    display: flex;
    background-color: white;
    border-radius: 25px;
    justify-content: space-around;
    width: 95%;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 5%;
    box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
 }

 .food4 {
    display: flex;
    background-color: white;
    border-radius: 25px;
    justify-content: space-around;
    width: 95%;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 5%;
    box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
 }

.foodtitle_more {
   width: 81%;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   height: 100%;
}
.foodtitle_more h3 {
   margin-top: 3%;
   margin-bottom: 1%;
}

.foodtitle_more p {
   margin-bottom: 1%;
   margin-top: 2%;
}
.bouton_commander {
   display: flex;
   justify-content: center;
}
.bouton_commander p {
   width: 35%;
   box-shadow: 8px 1px 15px -1px rgb(189 189 189 / 51%);
   color: white;
   background: -webkit-linear-gradient(top,#FF79DA, #9356DC );
   border-radius: 50px;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 45px;
}

.all_the_menu h2 {
    animation-duration: 1s;
    animation-name: slidein;
    }
     
    @keyframes slidein {
 
        from {
          margin-left:100%;
          width:300%
        }
      
        to {
          margin-left:3%;
          width:100%;
        }

      } 
      
.food1 {
    animation-duration: 1s;
    animation-name: menu_anim;
}

    @keyframes menu_anim {
        0%{
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        
    }

.food2 {
        animation-duration: 1.3s;
        animation-name: menu_anim;
    }
    
        @keyframes menu_anim {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
            
    }

.food3 {
    animation-duration: 1.6s;
    animation-name: menu_anim;
        }
        
            @keyframes menu_anim {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
                
            }

.food4 {
    animation-duration: 2s;
    animation-name: menu_anim;
                
    }

            @keyframes menu_anim {
                0% {
                     opacity: 0;
                }
                20%{
                        opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                60% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
                    
    }

.check_ok{
    background-color: #99E2D0;
    position: absolute;
    right: -20%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 0px 25px 25px 0px ;
    transition: all .5s;
    /* z-index: -1; */
}

.icon_check {
    color: white;
    font-size: 30px;
}

a:hover {
    right: 0;
}


                