@media (min-width: 992px) {

        /* Acceuil */
    
    .step_fonctionnement {
        width: 39%;
        margin-bottom: 2%;
    }

    .restaurant_explorer {
        height: 240px;
    }
    
    .Fonctionnement {
        margin-bottom: 1%;
    }
    
    .Fonctionnement h2 {
        margin-right: 0%;
        margin-top: 2%;
     }
    .Conteiner_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        margin: 1%;
    }
    
    .Therestaurants h2 {
       margin-top: 1%;
       margin-right: 0%;
       
    }
    
    .bouton_explorer {
        width: 25%;
    }

    .cards {
        margin: 2%;
    }

    /* Menus */

    .image_back img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .all_the_menu {
        width: 70%;
        border-radius: 50px 50px 50px 50px;
        margin-top: -5%;
        margin: auto;
    }

    .steptoeat {
        width: 250px;
    }

    .bouton_commander p { 
        width: 100%;    
    }

    .conteiner_menu {
        display: flex;
    }
}
