@media (min-width: 768px) {

    /* Acceuil */
    
    .step_fonctionnement {
        width: 39%;
    }

    .Fonctionnement {
        margin-bottom: 1%;
    }

    .Fonctionnement h1 {
        margin-right: 0%;
        margin-top: 2%;
    }
    .Conteiner_cards {
        display: flex;
        
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        margin: 1%;
    }

    .Therestaurants h1 {
       margin-top: 3%
    }

    .bouton_explorer {
        width: 35%;
    }

                        /*Menus*/

    img , .all_the_menu {
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .arrow_return {
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .food1 {
        height: 135px;
    }

    .check_ok {
        height: 135px;
    }

    .image_back img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
    
