@media (min-width: 768px) {
    
    .step_fonctionnement {
        width: 39%;
    }

    .Fonctionnement {
        margin-bottom: 1%;
    }
    .Conteiner_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        margin: 1%;
    }

    .Therestaurants h1 {
       margin-top: 3%
    }
    }
    
